body {
    height: 100%;
    display: flex;
    margin: 0;
    flex-direction: column;
}

img {
    object-fit: cover;
    width: 300px;
    height: 300px;
}

a {
    margin: 10px;
    text-decoration: none;
    color: white;
}

.header, .footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
}
.footer {
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navBar {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.titleArea {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.mainIntro, .mainImage {
    flex-shrink: 6;
}

.illustrations {
    height: 52px;
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.text {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
  
.images {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info {
    max-width: 200px;
}

.quote {
    background-color: #eeee;
    justify-content: center;
}