body {
    height: 100%;
    display: flex;
    margin: 0;
    flex-direction: column;
}

img {
    object-fit: cover;
    width: 300px;
    height: auto;
}

a {
    margin: 10px;
    text-decoration: none;
    color: white;
}

.header, .footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
}
.footer {
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.navBar {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.titleArea {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
}

.mainIntro {
    text-align: left;
    margin: 20px;
    width: 50%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.illustrations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.examples {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    flex: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    flex-wrap: wrap;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: fit-content;
    margin: 10px;
}

.info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

.quote {
    display: flex;
    flex: auto;
    background-color: #eeee;
    justify-content: center;
    padding: 0 100%;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    margin: 80px;
    color: white;
    padding: 50px;
    border-radius: 7px;
}